body {
  margin: 0;
  padding: 0;
  background: #eef;
  padding: 2% 10%;
  font-family: verdana, Segoe UI
}
.main_header {
  background: #000;
  text-align: center;
  padding: 10px 15px
}
.main_header h1 {color: #fff}
.breadCumb {color: darkcyan}
a h3 {padding: 0 15px}
section {
  padding: 0 12px
}
section article {
  text-align: justify
}
.main_footer {
  background: #000;
  text-align: center;
  color: white;
  padding: 10px 15px
}
.main_footer a {
  color: tomato;
  text-decoration: none
}